<div class="row">
<% @photo_items.each do |photo_item| %>
  <div class="span3">
    <h2>Heading</h2>
    <a href="#" class="thumbnail node-two">
      <%= image_tag(@user.facebook.get_object(album["cover_photo"])["picture"]) %>
      <%= album["name"] %>
    </a>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->
