<div class="well sidebar-nav">
<%= image_tag(@user.facebook.get_picture("me")) %>
  <h3>Facebook Photos: </h3>
  <ul class="nav nav-list">
    <li class="nav-header node-two">Your Albums </li>
    <li class="active"><a href="#">Link</a></li>
    <% @albums.each do |album| %>
      <li>
        <a href="#" class="thumbnail node-two">
          <%= album["name"] %>
        </a>
      </li>
    <% end %>
    <li class="nav-header">Target Friend's Album</li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="nav-header">Other Friend's Album</li>
    <li class="nav-header">Other Friend's Album</li>
    <li class="nav-header">Other Friend's Album</li>
    <li class="nav-header">Other Friend's Album</li>
  </ul>
</div><!--/.well -->

