<div class="row">
  <div class="span3">
    <%= render "sidebar" %>
  </div><!--/span-->
  <div class="span9">
    <div id="page">
      <%= render "page" %>
    </div>
    <% count = 0 %>
    <% photo_count = 0 %>
    <% @photos.each do |photo| %>
      <% if count == 0 %>
      <div class="row">
      <% end %>
        <div class="span3">
        <%= image_tag(photo.image_url, :class => "thumbnail node-two") %>
        </div><!--/span-->
      <% count += 1 %>
      <% photo_count += 1 %>
      <% if count == 3 %>
        </div><!--/row-->
        <% count = 0 %>
      <% end %>
    <% end %>
    <% if count != 0 %>
      </div><!--/row-->
    <% end %>
  </div>
</div>
